*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
h1{
	text-align: center;
	font-size: 26px;
	margin-top: : 15px;
	margin-bottom: 15px;
}
.container>div{
	border: 1px solid black;
	position: relative;
	margin: 10px;
}
p.title_section{
	border:1px solid black;
	font-weight:bold;
	font-family: "Times New Roman", Times, serif;
	color: white;
	font-size:19px;
	width: 30%;
	position: relative;
	left:70%;
	text-align: center;
}
p.text_section{
	position: relative;
	margin: 10px 0px 10px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: justify;
}
#s1{
	background-color: #FADBD8;
}
#s2{
	background-color: #E8DAEF;
}
#s3{
	background-color: #D6EAF8;
}
#t1{
	background-color: #D98880;
}
#t2{
	background-color: #C39BD3;
}
#t3{
	background-color: #7FB3D5;
}

.row{
	width: 100%;
}

@media(min-width: 992px){
	.col-lg-4{
		float:left;
		width: 33.33%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float:left;
		width: 50%;
	}
	.col-md-12{
		float:left;
		width: 100%;
	}
}
@media (max-width: 767px)  {

  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}